config MESSAGECHANNEL
    bool "MessageChannel"
    # select REQUIRES_FULL_LIBCPP

if MESSAGECHANNEL

    config MESSAGECHANNEL_RECEIVE_TIMEOUT
        int "MessageChannel receive timeout [ms]"
        default 500

    module = SENSORSERVICE
    module-str = SENSORSERVICE
    source "subsys/logging/Kconfig.template.log_config"

endif # SENSORSERVICE
