config SENSORSERVICE
    bool "Sensorservice"
    select SENSOR
    select REQUIRES_FULL_LIBCPP

if SENSORSERVICE

    config SENSORSERVICE_FETCH_INTERVAL
        int "Sensor fetch interval [ms]"
        default 500

    config SENSORSERVICE_THREAD_PRIO
        int "Sensorservice thread priority"
        default 0

    config SENSORSERVICE_STACK_SIZE
        int "Sensorservice thread stack size"
        default 512

    module = SENSORSERVICE
    module-str = SENSORSERVICE
    source "subsys/logging/Kconfig.template.log_config"

endif # SENSORSERVICE
