/dts-v1/;
#include <st/g0/stm32g0b1Xc.dtsi>
#include <st/g0/stm32g0b1k(b-c-e)tx-pinctrl.dtsi>
#include <zephyr/dt-bindings/adc/adc.h>

/ {
	model = "Serial TempSens";
	compatible = "oschimdh,serial_temp_sens";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,com-uart = &cdc_acm_uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	sens0: sens0 {
		compatible = "ntc-thermistor-generic";
		zephyr,compensation-table = <(-25) 101898>,
                     <(-15) 59605>,
                     <(-5) 36289>,
                     <(5) 22896>,
                     <(15) 14915>,
                     <(25) 10000>,
                     <(35) 6880>,
                     <(45) 4846>,
                     <(55) 3487>,
                     <(65) 2559>,
                     <(75) 1911>,
                     <(85) 1451>,
                     <(95) 1118>,
                     <(105) 873>,
                     <(115) 691>,
                     <(125) 553>;
		io-channels = <&adc1 0>;
		pullup-uv = <3300000>;
		pullup-ohm = <8200>;
		pulldown-ohm = <0>;
	};

	sens1: sens1 {
		compatible = "ntc-thermistor-generic";
		zephyr,compensation-table = <(-25) 101898>,
                     <(-15) 59605>,
                     <(-5) 36289>,
                     <(5) 22896>,
                     <(15) 14915>,
                     <(25) 10000>,
                     <(35) 6880>,
                     <(45) 4846>,
                     <(55) 3487>,
                     <(65) 2559>,
                     <(75) 1911>,
                     <(85) 1451>,
                     <(95) 1118>,
                     <(105) 873>,
                     <(115) 691>,
                     <(125) 553>;
		io-channels = <&adc1 1>;
		pullup-uv = <3300000>;
		pullup-ohm = <8200>;
		pulldown-ohm = <0>;
	};

	sens2: sens2 {
		compatible = "ntc-thermistor-generic";
		zephyr,compensation-table = <(-25) 101898>,
                     <(-15) 59605>,
                     <(-5) 36289>,
                     <(5) 22896>,
                     <(15) 14915>,
                     <(25) 10000>,
                     <(35) 6880>,
                     <(45) 4846>,
                     <(55) 3487>,
                     <(65) 2559>,
                     <(75) 1911>,
                     <(85) 1451>,
                     <(95) 1118>,
                     <(105) 873>,
                     <(115) 691>,
                     <(125) 553>;
		io-channels = <&adc1 2>;
		pullup-uv = <3300000>;
		pullup-ohm = <8200>;
		pulldown-ohm = <0>;
	};
};

&clk_hsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
	crs-usb-sof;
};

&pll {
	div-m = <1>;
	mul-n = <8>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(64)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
};

zephyr_udc0: &usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";

	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_nss_pb0 &spi1_sck_pa5
	&spi1_miso_pa6 &spi1_mosi_pa7>;
	pinctrl-names = "default";
	status = "okay";
};

&adc1 {
	pinctrl-0 = <&adc1_in0_pa0 &adc1_in1_pa1 &adc1_in2_pa2>;
	pinctrl-names = "default";
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;
	#address-cells = <1>;
    #size-cells = <0>;
	status = "okay";

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&iwdg {
	status = "okay";
};

&die_temp {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(32)>;
			read-only;
		};
		slot0_partition: partition@8000 {
			label = "image-0";
			reg = <0x00008000 DT_SIZE_K(100)>;
		};
		slot1_partition: partition@21000 {
			label = "image-1";
			reg = <0x00021000 DT_SIZE_K(100)>;
		};
		/* final 64KiB reserved for app storage partition */
		storage_partition: partition@3A000 {
			label = "storage";
			reg = <0x0003A000 DT_SIZE_K(24)>;
		};
	};
};
